.wrapper {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rgb(214, 217, 226);
  transition: 0.3s;
  gap: 15px;
  background-color: white;
	box-shadow: 2px 2px 2px rgba(122, 122, 123, 0.477);
	.description {
		font-weight: 400;
		text-align: center;
    font-size: calc(var(--font-size-a2) - 2px);
    color: var(--color-background-primary-grey-a1);
	}
}

.imgWrapper {
  height: 100px;
}

.wrapper:hover {
  box-shadow: 3px 3px 3px rgba(122, 122, 123, 0.477);
  transform:translateY(-5px)
}

@media (max-width: 1240px) {
	.wrapper {
		width: 11vw;
    height: 11vw;
    .description {
      font-size: calc(var(--font-size-a2) - 4px);
    }
	}
  .imgWrapper {
    width: 6vw;
    height: 6vw;
  }
}

@media (max-width: 900px) {
	.wrapper {
    padding: 8px;
    gap: 8px;
		width: 11vw;
    height: 11vw;
    .description {
      font-size: calc(var(--font-size-a2) - 10px);
    }
	}
  .imgWrapper {
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 600px) {
	.wrapper {
    padding: 5px;
    gap: 8px;
		width: 80px;
    height: 80px;
    .description {
      font-size: calc(var(--font-size-a2) - 12px);
    }
	}
  .imgWrapper {
    width: 30px;
    height: 30px;
  }
}