.board{
	width: 200px;
	min-height: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 20px;
	padding: 20px 20px;
	border: 1px solid rgb(141, 157, 235);
	transition: 0.3s;
	gap: 20px;
	background: linear-gradient(60deg, #5b6e81,#6e8aa9,#5b6e81);
	box-shadow:4px 5px 8px rgba(122, 122, 123, 0.477);
	color: var(--color-primary-white-a1);
	.tittle {
		align-self: center;
		width: 100%;
		font-weight: 400;
		text-align: center;
		font-size: calc(var(--font-size-a2) - 2px);
		word-wrap: normal;
	}
}

.board:hover {
	box-shadow:5px 8px 20px rgb(85, 137, 240);
}