.wrapper {
	width: 100%;
	background: var(--color-background-gradient-welcome);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 90px 0 20px 0;
}

.welcomeSection{
	width: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	gap: 40px;
}

@media (max-width: 1240px) {
	.wrapper {
		padding: 90px 20px;
		width: calc(100% - 40px);
	}
	.welcomeImg{
		width:50vw;
	}
}

.descriptionBlock{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mainTittle{
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: var(--color-background-primary-grey-a1);
	font-size: var(--font-size-a1);
	text-shadow: 1px 2px 4px #6f7282;
}

.tittle{
	align-self: center;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: var(--color-background-primary-grey-a1);
	font-size: var(--font-size-a2);
	text-shadow: 1px 2px 4px #6f7282;
	margin-bottom: 30px;
}

.description{
	font-size: var(--font-size-a2);
	padding-bottom: 24px;
	text-align: left;
}

.welcomeImg{
	width:600px;
	height: 500px;
	background-image: url("/assets/welcome-img.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
}

.aboutWrapper {
	width: 100%;
	max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1.5rem 0;
}

.descriptionWrapper {
	width: 100%;
	max-width: 1200px;
  display: flex;
  align-items: center;
	justify-content: space-between;
  padding: 40px 0;
}

.line {
	width: 100%;
	max-width: 1200px;
	margin: 0.5rem 0;
	border: 0;
	border-top: 1px solid rgba(81,81,81,.195);
}

.technologyWrapper {
	width: 100%;
	max-width: 1200px;
  display: flex;
  align-items: center;
	flex-direction: column;
  padding: 40px 0;
}

.cardWrapper{
	display: flex;
  align-items: center;
	justify-content: space-between;
	gap: 15px;
	padding-top: 10px;
}