.taskWrapper{
	box-sizing:border-box;
	position: relative;
	width: 100%;
	min-height: 40px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding: 0 5px;
	border: 1px solid rgb(141, 157, 235);
	transition: 0.3s;
	background-color: white;
	box-shadow:3px 2px 5px rgba(122, 122, 123, 0.477);
	color: var(--color-primary-black-a1);
	cursor: grab;
}

.taskWrapper:hover {
	box-shadow:2px 2px 5px rgb(217, 240, 85);
}

.taskWrapper:active {
	cursor: grabbing;
}

.taskTitle{
	width: 165px;
	align-self: center;
	font-weight: 400;
	font-size: var(--font-size-a2);
	word-wrap: normal;
	flex-grow: 1;
}