.navigation__item {
  padding: 4px;
  box-sizing: border-box;
  color: var(---color-primary-white-a1);
  text-decoration: none;
  transition: color 1000ms linear;
  font-size: var(--font-size-a3);

  &:hover {
    color: var(--color-primary-orange-a2);
  }
}

.active {
  color: var(--color-primary-orange-a1);
  text-decoration: underline;
}

.list__item {
  list-style: none;
}

