.wrapper{
	box-sizing:border-box;
	position: relative;
	width: 280px;
	max-height: calc(100vh - 90px - 64px - 130px);
	display: flex;
	align-items: center;
	justify-content:space-between;
	flex-direction: column;
	border-radius: 20px;
	padding: 20px 10px;
	border: 1px solid rgb(141, 157, 235);
	transition: 0.3s;
	gap: 10px;
	background: linear-gradient(60deg, #5b6e81,#6e8aa9,#5b6e81);
	box-shadow:2px 3px 5px rgba(122, 122, 123, 0.477);
	color: var(--color-primary-white-a1);
	cursor: grab;
}

.wrapper:hover {
	box-shadow:2px 3px 5px rgb(85, 137, 240);
}

.wrapper:active {
	cursor: grabbing;
}

.listTitle {
	align-self: center;
	font-weight: 400;
	font-size: var(--font-size-a2);
	word-wrap: normal;
}

.listHeader{
	padding: 0 10px 0 20px;
	width: calc(100% - 30px);
	display: flex;
	align-items: center;
	justify-content:space-between;
}

.listWrapper{
	padding: 10px 0;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 7px;
	flex-direction: column;
	justify-content: space-between;
}
