:root {
  --color-background-primary-grey-a1: #2c3e50;
  --color-background-primary-grey-a2: #4a5e72;
  --color-background-gradient-welcome: linear-gradient(#cfdbe7,rgb(240, 239, 234),rgb(240, 239, 234),#cfdbe7);

  --color-primary-orange-a1: #c03b21;
  --color-primary-orange-a2: #b57118;

  --color-primary-white-a1: #f4f1f0;

  --color-primary-black-a1: #100d0c;

  --font-size-a1: 42px;
  --font-size-a2: 24px;
  --font-size-a3: 16px;

  --color-disabled: #808080;
}
